.min-width-0 {
  min-width: 0;
}

.list-group-item.active {
  background-color: #5e72e4;
  border-color: #5e72e4;
  
  h5, small {
    color: white !important;
  }
}

.modal.show {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-body {
  scrollbar-width: thin;
  scrollbar-color: #e9ecef transparent;
  
  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #e9ecef;
    border-radius: 3px;
  }
}
