# Firebase
backend/serviceAccountKey.json

# Python
backend/__pycache__/
backend/*.pyc
backend/instance/
backend/*.db

# Entorno
backend/.env

# Angular
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/

# General
node_modules/
dist/
.angular/